body {
    background-color: black;
    color:white;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 4em 0 2em;
    padding-top: 0;
    text-align: center;
}
  
  h1 {
    font: inherit;
    font-size: 45px;
    font-weight: 400;
    font-family: initial;
  }
  
  .calculator {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: rgb(18, 155, 155);
    width: 450px;
    height: 450px;
    border-radius: 25px;
  }
  
  .text {
    background-color: rgb(161, 158, 158);
    border: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px;
  }
  
  .text p{
    font-size: 40px;
    margin: 5px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: aqua;
    padding: 5px;
    margin: 5px;
  }
  
  button {
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin: 0.3em;
    width: 4em;
    height: 4em;
    cursor: pointer;
  }
  
  button:hover {
    background: rgb(137, 182, 165);
    color: rgb(16, 102, 102);
    border-radius: 5px;
  }

  .estiloBotones{
      border-radius: 10px;
  }
  
      